---
layout: null
---

<script>
  var store = [
    {% for c in site.collections %}
      {% assign docs = c.docs | where_exp:'doc', 'doc.search != false' %}
      {% for doc in docs %}
        {% capture teaser %}
          {% if doc.header.teaser %}
            {{ doc.header.teaser | strip_html | strip_newlines | jsonify }}
          {% else %}
            {{ site.teaser | strip_html | strip_newlines | jsonify }}
          {% endif %}
        {% endcapture %}
        {
          "title": {{ doc.title | jsonify }},
          "excerpt": 
            {% if site.search_full_content == true %}
              {{ doc.content | newline_to_br |
                replace:"<br />", " " |
                replace:"</p>", " " |
                replace:"</h1>", " " |
                replace:"</h2>", " " |
                replace:"</h3>", " " |
                replace:"</h4>", " " |
                replace:"</h5>", " " |
                replace:"</h6>", " " |
                strip_html | strip_newlines | jsonify }},
            {% else %}
              {{ doc.content | newline_to_br |
                replace:"<br />", " " |
                replace:"</p>", " " |
                replace:"</h1>", " " |
                replace:"</h2>", " " |
                replace:"</h3>", " " |
                replace:"</h4>", " " |
                replace:"</h5>", " " |
                replace:"</h6>", " " |
                strip_html | strip_newlines | truncatewords: 50 | jsonify }},
            {% endif %}
          "categories": {{ doc.categories | jsonify }},
          "tags": {{ doc.tags | jsonify }},
          "url": {{ doc.url | relative_url | jsonify }},
          "teaser": {{ teaser | jsonify }}
        }{% unless forloop.last and forloop.parentloop.last %},{% endunless %}
      {% endfor %}
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
    {% if site.lunr.search_within_pages %}
      {% assign pages = site.pages | where_exp:'doc', 'doc.search != false' %}
      {% for doc in pages %}
        {
          "title": {{ doc.title | jsonify }},
          "excerpt":
            {% if site.search_full_content == true %}
              {{ doc.content | newline_to_br |
                replace:"<br />", " " |
                replace:"</p>", " " |
                replace:"</h1>", " " |
                replace:"</h2>", " " |
                replace:"</h3>", " " |
                replace:"</h4>", " " |
                replace:"</h5>", " " |
                replace:"</h6>", " " |
                strip_html | strip_newlines | jsonify }},
            {% else %}
              {{ doc.content | newline_to_br |
                replace:"<br />", " " |
                replace:"</p>", " " |
                replace:"</h1>", " " |
                replace:"</h2>", " " |
                replace:"</h3>", " " |
                replace:"</h4>", " " |
                replace:"</h5>", " " |
                replace:"</h6>", " " |
                strip_html | strip_newlines | truncatewords: 50 | jsonify }},
            {% endif %}
          "url": {{ doc.url | absolute_url | jsonify }}
        }{% unless forloop.last and forloop.parentloop.last %},{% endunless %}
      {% endfor %}
    {% endif %}
  ];
</script>
